<div routerLink="/detail" style="cursor: pointer;" class="cards--card">
    <div class="cards--card--image"> 
        <img src="/assets/image/bug.png">
    </div>
    <div class="cards--card--title d-flex flex-column">
        <div>Косметичка непромокаемая,</div>
        <div>31/22/11 см</div>
    </div>
    <div class="cards--card--color d-flex">
        <div class="cards--card--color--blue"></div>
        <div class="cards--card--color--white"></div>
        <div class="cards--card--color--black"></div>
    </div>
    <div class="cards--card--info d-flex justify-content-between">
        <div class="cards--card--info--price d-flex flex-column justify-content-center align-items-center">
            <div class="cards--card--info--price--1">123 ₽</div>
            <div class="cards--card--info--price--2">цена</div>
        </div>
        <div class="cards--card--info--sale d-flex flex-column justify-content-center align-items-center">
            <div class="cards--card--info--sale--1">103 ₽</div>
            <div class="cards--card--info--sale--2">опт от 5 000 ₽</div>
        </div>
        <div class="cards--card--info--q d-flex flex-column justify-content-center align-items-center">
            <div class="cards--card--info--q--1">1</div>
            <div class="cards--card--info--q--2">количество</div>
        </div>
    </div>
    <div class="cards--card--buy d-flex justify-content-between">
        <div class="cards--card--buy--click d-flex justify-content-center align-items-center">
            В корзину
        </div>
        <div class="cards--card--buy--star d-flex justify-content-center   align-items-center">
            <div>4.7</div>
            <img src="/assets/image/star.png">
        </div>
    </div>
</div>