.header--bottom {
    &--catalog {
        width: 178px;
        height: 44px;
        background: #181818;
        border-radius: 40px;
        span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: #ffffff;
        }
        &--search {
            width: 772px;
            height: 42px;
            background: #ffffff;
            border: 2px solid #181818;
            border-radius: 30px;
            span {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #181818;
            }
        }
    }
    &--search {
        background: #ffffff;
        border: 2px solid #181818;
        border-radius: 30px;
        width: 772px;
        height: 42px;
        div span {
            margin: 13px 0px 12px 43px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #181818;
        }
        div button {
            position: absolute;
            margin-left: -176px;
            margin-top: -22px;
            width: 178px;
            height: 42px;
            background: #181818;
            border: 2px solid #181818;
            border-radius: 30px;
            position: absolute;
            color: white;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
}
.header--head {
    span {
        margin-left: 23px;
    }
}
.header--main {
    margin-bottom: 30px;
    &--logo {
        img {
            width: 63.51px;
            height: 62.98px;
        }
        span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 7px;
            line-height: 9px;
            text-transform: uppercase;
            color: #181818;
        }
    }
    &--phone {
        img {
            width: 33px;
            height: 33px;
        }
        span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: #181818;
        }
    }
    &--text {
        span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            text-transform: uppercase;
            color: #181818;
        }
    }
    &--cabinet {
        & > div {
            margin-left: 41px;
        }
        & > div > img {
            width: 24px;
            height: 22px;
            margin-bottom: 5px;
        }
        & > div > span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            color: #181818;
        }
    }
}
.navigation {
    margin-bottom: 39px;
    span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #181818;
        margin-left: 18px;
    }
}
header {
    margin-bottom: 29px;
}
.banner-1 {
    border-radius: 10px;
    height: 245px;
    background-image: url("/assets/image/banner1.png");
    background-size: cover;
    span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 49px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 1px;
    }
    div {
        margin-top: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #181818;
        border-radius: 550px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #ffffff;
        width: 192px;
        height: 44px;
    }
}
.title-1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 48px;
    color: #181818;
    margin-bottom: 38px;
}
.cards--card {
    &--image {
        margin-bottom: 18px;
        img {
            border-radius: 10px;
        }
    }
    &--title {
        div {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #181818;
        }
        margin-bottom: 8px;
    }
    &--color {
        div {
            margin-right: 8px;
        }
        &--blue {
            border-radius: 5px;
            width: 11px;
            height: 11px;
            background: #a4deff;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        }

        &--white {
            border-radius: 5px;
            width: 11px;
            height: 11px;
            background: white;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        }

        &--black {
            border-radius: 5px;
            width: 11px;
            height: 11px;
            background: black;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
        }
    }
    &--info {
        &--price {
            &:nth-child(1) {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 12px;
                color: #181818;
                margin-bottom: 1px;
            }
            &:nth-child(2) {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 6px;
                line-height: 7px;
                color: #181818;
            }
        }
        &--sale {
            &:nth-child(1) {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;

                color: #ff6565;
                margin-bottom: 1px;
            }
            &:nth-child(2) {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 7px;
                line-height: 9px;
                color: #ff6565;
            }
        }
        &--quantity {
            &:nth-child(1) {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                color: #181818;
                margin-bottom: 1px;
            }
            &:nth-child(2) {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 6px;
                line-height: 7px;
                color: #181818;
            }
        }
    }
}
app-card {
    margin-right: 20px;
    @media (max-width: 768px) {
        margin-right: 5px;
    }
}

footer {
    padding: 25px;
    color: white;
    margin-top: 50px;
    background: #181818;
    .footer {
        &--map {
            display: flex;
            &--ul {
                margin-left: 22px;
                display: flex;
                flex-direction: column;
            }
        }
        &--contact {
            &--icon {
                img {
                    margin-left: 5px;
                }
            }
            &--text {
                div {
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 7px;
                    line-height: 8px;
                    color: #ffffff;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .banner-1 {
        div {
            display: none;
        }
        span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;

            color: #ffffff;
        }
    }
}
