<header class="d-flex flex-column">

    <div class="container">
        <div class="header--head d-flex justify-content-end">
            <div class="d-flex d-lg-flex d-none">
                <span>О НАС</span>
                <span>ОПТ</span>
                <span>ОПЛАТА И ДОСТАВКА</span>
                <span><strong>АКЦИИ</strong></span>
                <span>БЛОГ</span>
                <span>КОНТАКТЫ</span>
            </div>
        </div>
        <div>
            <div class="header--main d-flex justify-content-between align-items-center">
                <div style="cursor: pointer;" routerLink="/" class="header--main--logo d-flex flex-column align-items-center">
                    <img src="/assets/image/Logo.png">
                    <span>вместе дешеле.org</span>
                </div>
                <div class="header--main--phone d-lg-flex d-none flex-column align-items-center">
                    <img src="/assets/image/phone.png">
                    <span>+7 (968) 890 55 56</span>
                </div>
                <div class="header--main--text">
                    <span>интернет-магазин с Бесплатной доставкой</span>
                </div>
                <div class="header--main--cabinet d-lg-flex d-none">
                    <div class="header--main--cabinet--login d-flex flex-column align-items-center">
                        <img src="/assets/image/login.png">
                        <span>Войти</span>
                    </div>
                    <div class="header--main--cabinet--like d-flex flex-column align-items-center">
                        <img src="/assets/image/like.png">
                        <span>0 шт</span>
                    </div>
                    <div class="header--main--cabinet--cart d-flex flex-column align-items-center">
                        <img src="/assets/image/cart.png">
                        <span>1234 ₽</span>
                    </div>
                </div>

            </div>

            <div class="header--bottom d-flex justify-content-between align-items-center">
                <div style="cursor: pointer;" routerLink="/catalog" class="header--bottom--catalog d-flex align-items-center justify-content-center">
                    <img src="/assets/image/catalog-icon.png">
                    <span>Каталог</span>
                </div>
                <div class="header--bottom--search d-lg-flex d-none justify-content-between align-items-center">
                    <div><span>Введите что вам нужно</span></div>
                    <div><button>Поиск</button></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="navigation d-flex justify-content-center flex-wrap">
        <span routerLink="/catalog">
            Сумки
        </span>
        <span routerLink="/catalog">
            Косметички
        </span>
        <span routerLink="/catalog">
            <strong>Для дома</strong>
        </span>
        <span routerLink="/catalog">
            Для путешествий
        </span>
        <span routerLink="/catalog">
            Для животных
        </span>
        <span routerLink="/catalog">
            Для рукоделия
        </span>
        <span routerLink="/catalog">
            Органайзеры
        </span>
        <span routerLink="/catalog">
            Пепельницы
        </span>
        <span routerLink="/catalog">
            Подарки для нее
        </span>
        <span routerLink="/catalog">
            Подарки для него
        </span>
    </div>
</div>
<div class="">
    <router-outlet></router-outlet>
</div>
<footer class="">
    <div class="container d-flex justify-content-between">
        <div class="footer--logo">
            <img src="/assets/image/footer-logo.png">
        </div>

        <div class="footer--map">
            <div class="footer--map--ul">
                <span>Карта Сайта</span>
                <span style="cursor: pointer;" routerLink="/catalog" >Каталог</span>
                <span>О Нас</span>
                <span>Оплата Доставка</span>
            </div>
            <div class="footer--map--ul">
                <span>Опт</span>
                <span>Акции</span>
                <span>Блог</span>
                <span>Контакты</span>
            </div>
        </div>

        <div class="footer--contact d-lg-flex d-none align-items-center mt-auto">
            <div class="footer--contact--text">
                <div>Пользовательское соглашение</div>
                <div>Политика конфиденцииальности</div>
            </div>
            <div class="footer--contact--icon">
                <img src="/assets/image/vk.png">
                <img src="/assets/image/tg.png">
                <img src="/assets/image/instagram.png">

            </div>
        </div>
    </div>
</footer>