<div class="container">
    <div class="breadcrumb d-flex justify-content-start">
        <span>Главная</span>
        <span>/</span>
        <span>Каталог</span>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="menu">
                <div class="menu--title">
                    Каталог
                </div>
                <div class="menu--title1">
                    Сумки
                    <div class="menu--title2">
                        Сумка для ноутбука
                    </div>

                    <div class="menu--title2">
                        Сумка для фотоаппарата
                    </div>

                    <div class="menu--title2">
                        Спортивная Сумка
                    </div>
                </div>
                <div class="menu--title1">
                    Для дома
                    <div class="menu--title2">
                        органайзер для вещей
                    </div>

                    <div class="menu--title2">
                        чехол для мебели
                    </div>

                    <div class="menu--title2">
                        Органайзер для мелочей
                    </div>
                    <div class="menu--title2">
                        плейсматы
                    </div>
                    <div class="menu--title2">
                        Органайзер для проводов
                    </div>

                </div>
                <div class="menu--title1">
                    Косметчики
                    <div class="menu--title2">
                        дорожный органайзер
                    </div>

                    <div class="menu--title2">
                        для сумочки 
                    </div>

                    <div class="menu--title2 menu--choose">
                        непромокаемые
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="d-flex flex-wrap justify-content-center">
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>

                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>

                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
            </div>
        </div>
    </div>
</div>