<div class="container">
    <div class="breadcrumb d-flex justify-content-start">
        <span>Главная</span>
        <span>/</span>
        <span>Каталог</span>
        <span>/</span>
        <span>Косметичка непромокаемая, 31/22/11 см</span>
    </div>
    <div class="detail--header d-flex flex-column">
        <div class="d-flex">
            <span>Косметичка непромокаемая, 31/22/11 см</span>
            <div>
                <span>4.7</span>
                <img src="/assets/image/star.png">
            </div>
        </div>
        <div class="detail--art">
            Арт. 1234567890
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 mb-5 col-12">
            <div class="detail--photo">
                <img src="/assets/image/detailphoto.png">
            </div>

            <div class="detail--smallphoto">
                <img src="/assets/image/small1.png">
                <img src="/assets/image/small2.png">
            </div>
        </div>
        <div class="col-xl-5 col-12">
            <div class="detail--color">
                <span>Цвет:</span>
                <div>
                    <img src="/assets/image/small3.png">
                    <img src="/assets/image/small4.png">
                </div>
            </div>
            <div class="detail--size">
                <span>Размер:</span>
                <div>
                    <div class="detail--size--item">
                        31/22/11 см
                    </div>
                    <div class="detail--size--item">
                        31/22/11 см
                    </div>
                </div>
            </div>
            <div class="detail--quantity">
                <span>Количество:</span>
                <div>
                    <div class="detail--quantity--leftarrow">
                        <img src="/assets/image/arrow.png">
                    </div>
                    <div class="detail--quantity--span">
                        1
                    </div>
                    <div class="detail--quantity--rightarrow">
                        <img src="/assets/image/arrow.png">
                    </div>
                </div>
            </div>
            <div class="detail--price">
                <span>Цена:</span>
                <div class="d-flex justify-content-start align-items-center">
                    <div class="detail--price--span1">
                        123 ₽
                    </div>
                    <div class="detail--price--span2">
                        103 ₽
                    </div>
                    <div class="detail--price--span3">
                        опт от 5 000 ₽ в корзине
                    </div>

                </div>
            </div>
            <div class="detail--button">
                <div class="detail--button--buy">
                    В корзину
                </div>
                <div class="detail--button--continue">
                    Продолжить покупки
                </div>
            </div>
            <div class="detail--description">
                <div class="detail--description--tabs d-flex">
                    <div class="detail--description--tabs--1">
                        Описание
                    </div>
                    <div class="detail--description--tabs--2">
                        Отзывы (12)
                    </div>
                </div>
                <div class="detail--description--desc">
                    <p>Стильная женская косметичка - неотъемлемый атрибут каждой девушки!
                    <p>
                        Она удобная, практичная и многофункциональная. Косметичка способна уместить всю косметику,
                        необходимую в дороге, при этом не занимая много места. Так же в нее можно поместить наушники,
                        различные украшения, деньги, мобильный телефон, солнцезащитные очки и другие мелочи.
                    <p>
                        Косметичка прозрачная выполнена из ПВХ. Габариты косметички: длина 31 см, ширина 22,5 см, высота
                        11
                        см. Идеальна для бассейна, душа.

                </div>

            </div>
        </div>

    </div>

</div>