.detail {
    &--header {
        > div > span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            color: #181818;
            margin-bottom: 5px;
        }
        > div > div > span {
            margin-left: 17px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #181818;
        }
    }
    &--art {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #8a8a8a;
        margin-bottom: 22px;
    }
    &--photo {
        border-radius: 10px;
        margin-bottom: 23px;
    }
    &--smallphoto {
        img {
            border-radius: 10px;
            margin-right: 16px;
        }
    }
    &--color {
        margin-bottom: 30px;
        span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #181818;
        }
        div {
            margin-top: 19px;
        }
        img {
            border-radius: 10px;
            margin-right: 22px;
        }
    }
    &--size {
        span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #181818;
        }
        div {
            margin-top: 17px;
        }
        &--item {
            border: 1px solid #000000;
            border-radius: 3px;
            font-family: "Montserrat";
            font-style: normal;
            display: inline;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #181818;
            padding: 6px 14px;
            margin-right: 25px;
        }
    }
    &--quantity {
        span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #181818;
        }
        margin-top: 20px;
        > div {
            margin-top: 21px;
        }
        > div > div {
            display: inline;
        }
        &--span {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #181818;
            margin-left: 22px;
        }
        &--rightarrow {
            margin-left: 22px;
            img {
                transform: rotateY(180deg);
            }
        }
    }
    &--price {
        margin-top: 22px;
        &--span1 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #181818;
            margin-right: 31px;
        }
        &--span2 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #ff6565;
            margin-right: 10px;
        }
        &--span3 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #ff6565;
        }
    }
    &--button {
        margin-top: 24px;
        &--buy {
            background: #181818;
            border-radius: 45px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #ffffff;
            padding: 9px 34px;
            display: inline;
            margin-right: 28px;
        }
        &--continue {
            display: inline;
            border: 1px solid #181818;
            border-radius: 45px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #181818;
            padding: 9px 34px;
        }
    }
    &--description {
        margin-top: 59px;
        &--tabs {
            margin-bottom: 40px;
            &--1 {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                text-transform: uppercase;
                color: #181818;
                padding: 5px;
                border-bottom: 2px solid black;
                margin-right: 52px;
            }
            &--2 {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                padding: 5px;

                line-height: 18px;
                text-transform: uppercase;

                color: #8a8a8a;
            }
        }
        &--desc {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;

            color: #8a8a8a;
        }
    }
}
